/* 
====================================
Layout for every device
==================================== */

#header_container {
    display: flex;
    flex: 1 1 250px;
    height: 250px;
}

#header_container img {
    width: 100%;
    padding: 0;
    object-fit:fill;
}

/* 
==============================================================
Layout for every Desktops and Tablets (width: 481px and above)
============================================================== */

@media screen and (min-width: 481px) {
    html {
        width: 100%;
    }
    
    body {
        width: 56%;
        margin:auto;
    
    }

    #navbar_items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 33px;
        padding: 0;
        margin: 0;
    }

    #content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        line-height: 1.5;
    }

    #section1 {
        align-self: flex-start;
        width: 100%;
        text-align: left;
    }
    
    #site_images {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 22px;

    }

    #site_images img {
        width: 492px;
        height: 328px;
        max-width: 100%;
        flex-basis: 250px;
        object-fit: cover;
        border-radius: 5%;
      }

      #bottom_content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        line-height: 1.5;
    }


}


/*============================================
Layout for Mobile devices goes here
==============================================*/
@media screen and (max-width: 480px){
    
    body {
        width: 100%;
    }
}


