/*============================================
Style for all devices goes here
==============================================*/

#navbar_items {
    background-color:rgb(104, 101, 101);
    list-style-type: none;
}

#navbar_items li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 33px;
    padding: 8px;
}

#navbar_items li a:hover {
    background-color: black;
}

/*============================================
Style for Desktop and tablets goes here
==============================================*/
@media screen and (min-width: 481px){
    html {
        background-image: linear-gradient(to bottom right, #186172, rgb(255, 255, 255));
        background-repeat: no-repeat;
        background-image: re;
    }
    
    body {
        background-color: #dae6bd;
    }
}


/*============================================
Style for Mobile devices goes here
==============================================*/
@media screen and (max-width: 480px){
    html {
        background-color: #1C39AD;
    }

    body {
        background-color: #AD901C;
    }
}
